<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iPhonePhotoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846DB5D32458BCD800507E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846DB5E92458BCDB00507E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846DB5F42458BCDB00507E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
